@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  background-color: white;
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
  overflow-x: hidden;
  min-height: 100vh;
  background-color: white;
}

* {
  box-sizing: border-box;
}

::-webkit-selection {
  background-color: #CCFBF1;
  color: #0F766E;
}

::-moz-selection {
  background-color: #CCFBF1;
  color: #0F766E;
}

::selection {
  background-color: #CCFBF1;
  color: #0F766E;
}

img, svg, [role="img"], [role="button"] {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
